{% extends 'base.html' %}


{% block content %}
    <div>
        <div style="text-align:cetner; max_width: 500px; margin: 4rem auto;">
            <p>
                {{ target_user.date_joined }}
            </p>
            <h2 style="font-family: NanumSquare8">
                {{ target_user.username }}
            </h2>

            {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=user.pk %}">
                <p>
                    Change Info
                </p>
            </a>
            <a href="{% url 'accountapp:delete' pk=user.pk %}">
                Quit
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}