{% extends 'base.html' %}
{% comment %} {% load static %}
{% load bootstrap4 %}
{% bootstrap4_css %} {% endcomment %}


{% block content %}
    <div style="mb-4">
        <h4>Change Info</h4>
    </div>
    <div style='text-align:center; max-width:500px; margin: 4rem auto; '>
        <form action="{% url 'accountapp:update' pk=target_user.pk %}" method="POST" >
            {% csrf_token %}
            {% comment %} {% bootstrap4_form form %} {% endcomment %}
            {{ form }}
            <input type='submit' class='btn btn-dark rounded-pill col-6 mt-3'>
        </form>
    </div>


{% endblock %}